<connectionStrings>
  <!--<add name="MiniAmazon" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MiniAmazon;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>-->
  <!--<add name="MiniAmazon" connectionString="Server=5e015b08-069f-4ca4-96d5-a19e0014537c.sqlserver.sequelizer.com;Database=db5e015b08069f4ca496d5a19e0014537c;User ID=rbbmbakszfnsnafd;Password=ReDqFdfDyF2Lj4dfp24ZijUufdaHfjWj5PnKtrcL6GeEiVGaiABNfu8FsijCcDxo;"/>-->
  <!--<add name="MiniAmazon" connectionString="Server=DEVELOPER-PC;Database=PIVMA;User ID=probit;Password=temporal;"/>-->
  <add name="MiniAmazon" connectionString="Server=2e77a696-75a9-4f6a-960e-a1b20186a944.sqlserver.sequelizer.com;Database=db2e77a69675a94f6a960ea1b20186a944;User ID=gzdpjvnuvznhahef;Password=kbDY4wDnLCpWMzbr5oTfYZ2i63GgJJTFUxFqfER2y583HSiy2pvVFfwthu2aXwKb;" />
</connectionStrings>