<h2>App Navigation</h2>

<ul>
    <li>@Html.ActionLink("Homepage", "Index", "DashBoard")</li>
    <li>@Html.ActionLink("Facebook User Details", "UserDetails", "FbAccount")</li>
    <li>@*@Html.ActionLink("Friends Listing", "Index", "Friends")*@</li>
    <li>@Html.ActionLink("Post to the wall", "Index", "FbWallMessage")</li>     
	@*<li>@Html.ActionLink("Create Facebook Event", "Index", "Event")</li>*@  
</ul>