<connectionStrings>
 <add name="MiniAmazon" connectionString="Server=2e77a696-75a9-4f6a-960e-a1b20186a944.sqlserver.sequelizer.com;Database=db2e77a69675a94f6a960ea1b20186a944;User ID=gzdpjvnuvznhahef;Password=kbDY4wDnLCpWMzbr5oTfYZ2i63GgJJTFUxFqfER2y583HSiy2pvVFfwthu2aXwKb;" />  
</connectionStrings>